/* Custom fonts family */

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: 'Poppins', sans-serif;
}







/* ================================ */




.my-custom-logo a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 23px;
}

.my-custom-navbar {
    justify-content: space-around;
}

.my-custom-button {
    justify-content: end;
}

.my-custom-button a {
    text-decoration: none;
    padding: 6px 20px;
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 8px;
    display: inline-block;
    line-height: 22px;
    transition: .4s ease-in-out;
}

.my-custom-button a:hover {
    background-color: #289BDE;
    color: white;
}


/* slider custom height */
.my-custom-button2 a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #289BDE;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    transition: .4s ease-in;
}

.my-custom-button2 a:hover {
    background-color: #00a2ff70;
    color: black;
    font-weight: 500;
}

.my-carousel-caption {
    position: absolute;
    right: 15%;
    bottom: auto;
    top: 35%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.dark-overlay::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .6;
}


/* Post section styleing start */

.My-custom-style {
    margin-bottom: 30px;
    margin-top: 50px;
}

.My-custom-style h1 {
    font-size: 40px;
    color: #1D1D1D;
    font-weight: 500;
    margin-bottom: 10px;
}

.My-custom-style p {
    color: #777777;
    font-size: 14px;
}


/* institute overview css style start ------------------------------------- */
.custom-bg {
    background-color: #F4FAFD;
    border-radius: 10px;
}


.my-custom-countdown h1 {
    color: #1D1D1D;
    font-size: 30px;
    margin-bottom: 20px;
}

.my-custom-countdown h2 {
    font-weight: 600;
}

.my-custom-countdown p {
    color: #777777;
    font-size: 13px;
}

.my-custom-countdown span {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
}



/* Register section start ---------------------  */

.custom-bg2 {
    background-color: #289BDE;
    border-radius: 15px;
}

.custom-bg2 h1 {
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.custom-bg2 p {
    color: #f4f4f4c4;
    font-size: 13px;
}

.my-custom-button3 a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #289BDE;
    border-radius: 10px;
    font-weight: 500;
    transition: .3s ease-in;
}

.my-custom-button3 a:hover {
    background-color: #0b0d0e;
    color: rgb(255, 255, 255);
    font-weight: 500;
}


/* students-profile :start */


.students-profile h1 {
    font-size: 33px;
    margin-bottom: 20px;
    color: #1D1D1D;
    font-weight: 500;
}

.students-profile p {
    color: #777777;
    font-size: 14px;
}

/* footer style :start */
.footer-bg {
    background-color: #161616;
}

.footer-text h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 28px;
}

.footer-text p {
    color: #e8e8e8bf;
    line-height: 13px;
    font-size: 12px;
}

.footer-social a i {
    color: white;
    margin: 10px;
}